/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/resources/lang/*.json
!/resources/lang/en.json
!/resources/lang/bn.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/uploads/addds_images/*
/public/uploads/adds_multiple/*
/public/uploads/category/*
