.select-bg {
    border: 1px solid #edeff5 !important;
}

a.brand-link img {
    height: 33px;
    width: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 0.8rem;
    margin-right: 0.5rem;
    margin-top: -3px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section {
    padding-top: 100px;
}
.form-section {
    /* padding-left:15px; */
    display: none;
}
.form-section.current {
    display: inherit;
}
.btn-info,
.btn-success {
    margin-top: 10px;
}
.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    color: red;
}

.menu--sm.mobile-menu .mobile-menu__footer .btn:nth-child(1) {
    width: 150px !important;
}

@media (max-width: 991px) {
    .page-navigation__link {
        width: 35px !important;
        height: 35px !important;
    }
}

.alert-warning {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}
.wraning-show_hide .alert-warning {
    display: block;
}

a.navigation-bar__logo,
.mobile-menu__brand img {
    width: 131px;
    height: 80px;
}

.banner--two {
    direction: ltr;
}
/* .wraning-show_hide .header {
    margin-top: 58px;
} */

@media (max-width: 731px) {
    .wraning-show_hide .header {
        margin-top: 82px;
    }
    .wraning-show_hide .breedcrumb {
        padding: 252px 0 60px !important;
    }
}
@media (max-width: 416px) {
    .wraning-show_hide .header {
        margin-top: 106px;
    }
    .wraning-show_hide .breedcrumb {
        padding: 265px 0 60px !important;
    }
}

.slick-list {
    direction: rtl;
}
.cards__info {
    direction: ltr;
}
.testimonial-card {
    direction: ltr;
}

.membership-card__info {
    word-break: break-all;
}
